<ion-header>
  <ion-toolbar class="abc">
    <ion-buttons slot="start">
      <ion-back-button (click)="hi()" defaultHref="/home"></ion-back-button>
      <ion-title>User</ion-title>
      
    </ion-buttons>
        
 
  </ion-toolbar>
  
</ion-header>

<ion-content >
  <ion-card [routerLink]="'/details'">
    <ion-item >
      <ion-avatar slot="start">
        <ion-img [src]="imageUrl">
  
        </ion-img>
      </ion-avatar>
      
      <ion-label >
        {{user.name}}
      </ion-label>
    </ion-item>
  </ion-card>
  
  <ion-card [routerLink]="'/f'">
    <ion-item >
      <ion-avatar slot="start">
        <ion-img src="https://www.iiitd.ac.in/sites/default/files/public/faculty/rakeshc.jpg">
  
        </ion-img>
      </ion-avatar>
      
      <ion-label >
        Pavan Kamath
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card [routerLink]="'/s'">
    <ion-item >
      <ion-avatar slot="start">
        <ion-img src="https://avatars2.githubusercontent.com/u/32484352?s=460&u=8be777b9a92e3cb2e7b3bec12ef042b469ac6bfc&v=4">
  
        </ion-img>
      </ion-avatar>
      
      <ion-label >
        Prasanna Kulal
      </ion-label>
    </ion-item>
  </ion-card>

    
      
       
  
</ion-content>