<ion-header >
  <ion-toolbar class="abc">
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title>User Details</ion-title>
      
    </ion-buttons>
        
      
    
    
  </ion-toolbar>
</ion-header>

<ion-content>
  
    <ion-card>
      <ion-card-header>
        User
      </ion-card-header>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="https://www.iiitd.ac.in/sites/default/files/public/faculty/rakeshc.jpg">
      
            </ion-img>
          </ion-avatar>
        <ion-label>
          Pavan Kamath
        </ion-label>
        
      </ion-item>
      <ion-card-content>
        <ion-item>
          <span class="material-icons">
            mail
            </span>&nbsp;
            <ion-label>
              pavankamath142@gmail.com
            </ion-label>
         
        </ion-item>
        <ion-item>
          <span class="material-icons">
            phone
            </span>&nbsp;
            <ion-label>
             9482039948
            </ion-label>
        </ion-item>
        
      </ion-card-content>
    
        
      
  </ion-card>
</ion-content>