ion-content{
  --background: linear-gradient(197deg, rgb(250, 11, 103) 0%, rgb(252, 84, 140) 13.5%, rgb(236, 70, 181) 33.33%, rgb(248, 158, 203) 100%) !important
}
.abc{
  --background: linear-gradient(197deg, rgb(250, 11, 103) 0%, rgb(252, 84, 140) 13.5%, rgb(236, 70, 181) 33.33%, rgb(248, 158, 203) 100%) !important
}
.c{
  padding-left: 40%;
}